body
  {
    background-color:white ;
    margin-left:210px;
    margin-right: 200px;
    background-image: url("https://i.makeagif.com/media/8-30-2015/HHcGV6.gif");




    }
/*
hr{
  border-top-style: hidden;
  background-color: white;
  margin-right: 200px;
  margin-left: 210px;
  height=10px;
}*/
h1
{
  font-size: 80px;
  font-style: bold;
  color: white;
}
h2
{
  color: white;
}
h3
{
  color: white;
}
h4
{
  color: white;
}
.Exp{
  background-color: white;
  background-image:url("https://media1.giphy.com/media/Cv7wrQjYcd6hO/giphy.webp?cid=ecf05e47rz83mitdp1oq3fgf2zndblqbo0h8lauam9fgo1w6&rid=giphy.webp");
  color: black;
  padding: 20px;
  margin-left: 50px;
  margin-right: 20px;
  border-radius: 25px

}
.top-container{
  color: black;
  padding: 50px;
  margin-left: 350px;
  margin-right: 200px;
  border-radius: 25px;
 background-color: white;

 background-image:url("https://media1.giphy.com/media/Cv7wrQjYcd6hO/giphy.webp?cid=ecf05e47rz83mitdp1oq3fgf2zndblqbo0h8lauam9fgo1w6&rid=giphy.webp");
}

.proj
{
  background-color: white;
  background-image:url("https://media1.giphy.com/media/Cv7wrQjYcd6hO/giphy.webp?cid=ecf05e47rz83mitdp1oq3fgf2zndblqbo0h8lauam9fgo1w6&rid=giphy.webp");
  color:black;
  padding: 20px;
  margin-left: 50px;
  margin-right: 20px;
  border-radius: 25px


}
.button {
  background-color: blue;
  border-radius: 12px;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration:underline;
  font-size: 16px;
}
.photo
{

  border-radius: 25px;
}
.header
{
  padding: 10px;

  border-radius: 25px;

}
/*.skll{
  padding: 10px;  border-radius: 25px;}
.pr{
  padding: 10px;  border-radius: 25px;}
  */.info{
    background-color: white;
    background-image:url("https://media1.giphy.com/media/Cv7wrQjYcd6hO/giphy.webp?cid=ecf05e47rz83mitdp1oq3fgf2zndblqbo0h8lauam9fgo1w6&rid=giphy.webp");
    color:black;
    padding: 20px;
    border-radius: 25px
  }
